<<<<<<< HEAD
@{
    ViewBag.Title = "Index";
}

<p>Nothing here {{'yet' + '!'}}</p>
<p>1 + 2 = {{1 + 2}}</p>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
}
=======
@{
    ViewBag.Title = "Index";
}

<p>Nothing here {{'yet' + '!'}}</p>
<p>1 + 2 = {{1 + 2}}</p>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
}
>>>>>>> 6a775c913a72c93db392494d079e4252bbf12dce
