@{
    ViewBag.Title = "Step00";
    Layout = "~/Views/Angular/_Layout.cshtml";
}

<p>Nothing here {{'yet' + '!'}}</p>
<p>1 + 2 = {{1 + 2}}</p>

@section scripts {
    <script type="text/javascript">
        $('html').attr('ng-app', '');
    </script>
}
