@{
    ViewBag.Title = "Step01";
    Layout = "~/Views/Angular/_Layout.cshtml";
}

<ul>
    <li>
        <span>Nexus S</span>
        <p>
            Fast just got faster with Nexus S.
        </p>
    </li>
    <li>
        <span>Motorola XOOM¢â with Wi-Fi</span>
        <p>
            The Next, Next Generation tablet.
        </p>
    </li>
</ul>

<p>Total number of phones: 2</p>
