@{
    ViewBag.Title = "Google phone gallery";
    Layout = "~/Views/Angular/_Layout.cshtml";
}

<div>
    <div>
        <div>
            Search: <input ng-model="query" />
        </div>
        <div>
            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query">
                    {{phone.name}}
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
        <div id="status">Current filter: {{query}}</div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Angular/Step03.js")
    <script type="text/javascript">
        $('title').attr('ng-bind-template', 'Google phone gallery: {{query}}');
        $('html').attr('ng-app', 'phonecatApp').attr('ng-controller', 'PhoneListCtrl');
    </script>
}
